@model ZeldaWebsite.Models.User
@{
	ViewData["Title"] = "Manager Login";
	Layout = "~/Views/Shared/ProjectLayout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Home.css"/>
</head>
<div>
    <section class="contact_section layout_padding">
        <div class="container mb-50 mt-25 " >
            <div class="layout_padding">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-6">
                        <form asp-action="LogIn" class="form-contact">
                            <div class="contact_form-container">
                                <h2><span>Manager Log In</span></h2>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="center">
                                    <input asp-for="UserName" class="form-control mb-3 valid" placeholder="User Name" width="150" />
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="password" asp-for="Password" class="form-control mb-3 valid" placeholder="Password" width="150" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group text-center">
                                    <!-- Center align button -->
                                    <input type="submit" value="Log In" class="genric-btn primary radius align-items-center" />
                                </div>
                                @if (ViewBag.text == "false")
                                {
                                    <div class="text-danger text-center">Login failed. Please check your credentials.</div>
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

