@{
	ViewData["Title"] = "About";
	Layout = "~/Views/Shared/ProjectLayout.cshtml";
}
 <main>
        <!-- breadcrumb Start-->
        <div class="page-notification">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">About</a></li> 
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb End-->
        <!-- About Area Start -->
        <div class="about-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="section-tittle mb-60 text-center pt-10">
                            <h2>Our Story</h2>
                            <p class="pera">
                                Zelda - the first Hebrew ice cream parlor chain in Israel, was established in 2012 and is owned by the Anita Group.
                                The story of the Anita Group began in the home kitchen of Anita's mother, who was known in the neighborhood for making homemade jams and special pastries, which over the years were integrated into the house flavors of the chain's iconic ice creams. Nir, the younger brother, created the ice cream flavors very carefully and even continued to develop unique flavors and products, until in 2002, together with his brother Adi, he opened the first boutique ice cream parlor in the Neve Tzedek neighborhood in Tel Aviv, which over the years became an international chain of ice cream parlors with about 20 branches in Israel and around the world.
                                Thus was born - "Zelda" - an Israeli ice cream chain from the Anita group, which has about 130 branches nationwide, starting from Kiryat Shmona and ending in Eilat.
                                Zelda offers an exciting experience of wonderful and unique flavors, using high-quality raw materials produced at the Anita factory in Kfar Vitkin.
                                The factory is the only one in Israel that specializes in the production of raw materials for preparation in all chain stores. This is how we enable our customers to enjoy the flavors, quality, freshness and family warmth of the Anita Group.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="about-img pb-bottom">
                        <img src="\assets\img\NewFolder\NewFolder1\About.jpg" alt="" class="w-100">
                        
                    </div>
                    </div>
                </div>
                
              
            </div>
        </div>
        <!-- About Area End -->
        
        <!--? Services Area Start -->
        <div class="categories-area section-padding40 gray-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat mb-50">
                            <div class="cat-icon">
                                <img src="assets/img/icon/services1.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5>Fast & Free Delivery</h5>
                                <p>Free delivery on all orders</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat mb-50">
                            <div class="cat-icon">
                                <img src="assets/img/icon/services2.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5>Fast & Free Delivery</h5>
                                <p>Free delivery on all orders</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat mb-30">
                            <div class="cat-icon">
                                <img src="assets/img/icon/services3.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5>Fast & Free Delivery</h5>
                                <p>Free delivery on all orders</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat">
                            <div class="cat-icon">
                                <img src="assets/img/icon/services4.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5>Fast & Free Delivery</h5>
                                <p>Free delivery on all orders</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--? Services Area End -->
    </main>