@model IEnumerable<WebApplication1.Models.Flavour>
@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/ProjectLayout.cshtml";
}

<main>
    <!-- breadcrumb Start-->
    <div class="page-notification">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- listing Area Start -->
    <div class="category-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-8 col-md-10">
                    <div class="section-tittle mb-50">
                        <h2>Discover Our Flavours</h2>
                        <p>Browse from best latest goods</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--? Left content -->
                <div class="col-xl-3 col-lg-3 col-md-4 ">
                    <!-- Job Category Listing start -->
                    <div class="category-listing mb-50">
                        <!-- single one -->
                        <div class="single-listing">
                            <!-- Select City items start -->
                            <div class="select-job-items2">
                                <select name="select2">
                                    <option value="">All</option>
                                    <option value="">Cream</option>
                                    <option value="">Sorbet</option>
                                    <option value="">Sugar Free</option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <!-- Job Category Listing End -->
                </div>
                <!--?  Right content -->
                <div class="col-xl-9 col-lg-9 col-md-8 ">
                    <!--? New Arrival Start -->
                    <div class="new-arrival new-arrival2">
                        <div class="row">
                            @foreach (var item in Model){
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                <div class="single-new-arrival mb-50 text-center" >
                                    <a asp-action="Flavour" asp-route-id="@item.Id">
                                    <div class="popular-img">
                                            <img src="~/assets/img/NewFolder/@Html.DisplayFor(modelItem => item.ImageURL)" alt="">
                                        <div class="favorit-items">
                                            <span class="flaticon-heart"></span>
                                            <img src="~/assets/img/gallery/favorit-card.png" alt="">
                                        </div>
                                    </div>
                                    <div class="popular-caption">
                                            <h3><a href="product_details.html">@Html.DisplayFor(modelItem => item.Name)</a></h3>
                                            <span>@Html.DisplayFor(modelItem => item.Price)$ per liter</span>
                                    </div>
                                    </a>
                                </div>
                            </div>
                            }
                            <!-- listing-area Area End -->
                        </div>
                    </div>
                </div>
                           
</main>

