@model List<ZeldaWebsite.Models.Order>
@{
	ViewData["Title"] = "Dashboard";
	Layout = "~/Views/Shared/ManagerLayout.cshtml";
}
<!-- ============================================================== -->
<!-- Yearly Sales -->
<!-- ============================================================== -->
<div class="row">
	<div class="col-lg-8 mb-10">
		<div class="card oh">
			<div class="card-body">
				<div class="d-flex m-b-30 align-items-center no-block">
					<h5 class="card-title ">Yearly Sales</h5>
					<div class="ml-auto">
						<ul class="list-inline font-12">
							<li><i class="fa fa-circle text-info"></i> Iphone</li>
							<li><i class="fa fa-circle text-primary"></i> Ipad</li>
						</ul>
					</div>
				</div>
				<div id="morris-area-chart" style="height: 350px;"></div>
			</div>
			<div class="card-body bg-light">
				<div class="row text-center m-b-20">
					<div class="col-lg-4 col-md-4 m-t-20">
						<h2 class="m-b-0 font-light">6000</h2><span class="text-muted">Total sale</span>
					</div>
					<div class="col-lg-4 col-md-4 m-t-20">
						<h2 class="m-b-0 font-light">4000</h2><span class="text-muted">Iphone</span>
					</div>
					<div class="col-lg-4 col-md-4 m-t-20">
						<h2 class="m-b-0 font-light">2000</h2><span class="text-muted">Ipad</span>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- ============================================================== -->
	<!-- News -->
	<!-- ============================================================== -->
	<div class="row">
		<!-- column -->
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="d-flex">
						<div>
							<h5 class="card-title">Sales Overview</h5>
							<h6 class="card-subtitle">Check the monthly sales </h6>
						</div>
						<div class="ml-auto">
							<select class="custom-select b-0">
								<option>January</option>
								<option value="1">February</option>
								<option value="2" selected="">March</option>
								<option value="3">April</option>
							</select>
						</div>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="text-center">#</th>
								<th>Order ID</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Date</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var order in Model)
							{
								<tr>
									<td class="text-center">@order.Id</td>
									<td class="txt-oflo">@order.FirstName</td>
									<td class="txt-oflo">@order.LastName</td>
									<td><span class="text-success">@order.Total$</span</td>
									<!-- Add other columns as needed -->
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>